@model webapi.ADO.person_th

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>person_th</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
